Exercise 2: Create markdown cell with title of the notebook
 - Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java
4. C++

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java
4. C++

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pytorch
2. TensorFlow
3. Keras
4. Scikit-learn
5. caret

Some of the commonly used libraries used by Data Scientists include:
1. Pytorch
2. TensorFlow
3. Keras
4. Scikit-learn
5. caret

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools | 
| -------------|
| R | 
| Jupyter Notebook |
| R Studio |

| Data Science Tools | 
| -------------|
| R | 
| Jupyter Notebook |
| R Studio |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives
 - Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives: List popular languages for Data Science:**
 - R
 - R Studio
 - Jupyter Notebook
 - SQL

**Objectives: List popular languages for Data Science:**
 - R
 - R Studio
 - Jupyter Notebook
 - SQL

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Jia-Yu Lin

## Author
Jia-Yu Lin